.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  .title {
    font-weight: 400;
  }

  .divider {
    width: 903px;
  }

  .movieCardsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}
