.movies-list {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 10px;

  &__movie {
    transition: transform 200ms;

    &:hover {
      transform: scale(1.05);
    }
  }
}