.pagination {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  width: 100%;

  &__pages {
    display: flex;
  }

  &__item {
    padding: 5px;
    border: 1px solid var(--common-color-blue-2);
    border-radius: 5px;
    margin: 0 5px;
    background-color: var(--common-color-blue-1);
    cursor: pointer;

    &:hover:not(&_current):not(&_disabled) {
      background-color: var(--common-color-blue-4);
    }

    &_disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &_current {
      background-color: var(--common-color-blue-3);
      cursor: default;
    }
  }
}