@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(209 213 219);
}
#root {
  max-width: 90%;
  margin: 2rem auto 0;
  text-align: center;
}

@media screen and (min-width: 768px) {
  #root {
    max-width: 70%;
    width: 70%;
  }
}

@media screen and (min-width: 1200px) {
  #root {
    max-width: 50%;
    width: 50%;
  }
}
