@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

/* NAV */

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  background-color: #276278;
}

nav p {
  margin: 0;
}

nav p,
nav a {
  font-size: 22px;
  color: #d29f3a;
}
