@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

/* @media (min-width: 768px) {
  div {
    width: 20%;
    height: 100%;
  }
} */
