.container {
  display: grid;
  position: relative;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "poster info";
  width: 100%;
  height: 120px;
  border-radius: 8px;
  border: 1px solid var(--border-primary);
  background-color: var(--background-primary);
  overflow: hidden;
  text-decoration: none;
  color: var(--text-primary);

  &:hover {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  }
}

.posterWrapper {
  grid-area: poster;
  position: relative;
  width: 80px;
  height: 120px;
}

.info {
  grid-area: info;
  display: grid;
  position: relative;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content 1fr;
  padding: 14px 16px 18px 16px;
  height: 100%;
}

.title {
  line-height: 20px;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.release {
  line-height: 16px;
  font-size: 14px;
  font-weight: 300;
  margin: 4px 0 0 0;
  color: var(--text-secondary);
}

.overview {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 18px;
  font-size: 16px;
  font-weight: 300;
  margin: 12px 0 0 0;
}
