body {
    position: relative;
    background-color: #333;
    margin-top: 0;
    margin-left: 0;
}

.rateSelector {
    display: inline-block;
    width: auto;
    margin-right: 10em;
}

.rateList {
    display: inline-block;
    vertical-align: top;
    width: auto;
}

.trendStagnating {
    color: yellow;
}
.trendGrowing {
    color: lime;
}
.trendDeclining {
    color: red;
}


.checkbox input[type="checkbox"] {
    opacity: 0;
}
.checkbox label::before{
    content: "";
    display: inline-block;
    
    height: 16px;
    width: 16px;

    margin-left: 0;
    
    border: 1px solid;   
    border-radius: 2px;
}
.checkbox label::after {
    content: "";
    display: inline-block;
    height: 6px;
    width: 9px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    
    transform: rotate(-45deg);
}
.checkbox label {
    position: relative;
}
.checkbox label::before, .checkbox label::after {
    position: absolute;
}
/*Outer-box*/
.checkbox label::before {
    top: 0.4em;
    left: -0.5em;
}
/*Checkmark*/
.checkbox label::after {
    left: -0.35em;
    top: 0.53em;
}
.checkbox input[type="checkbox"] + label::after {
    content: none;
}
.checkbox input[type="checkbox"]:checked + label::after {
    content: "";
}
