$alto: #ddd;
$blue: #00f;
$boston-blue: #3f7dc3;
$concrete: #f2f2f2;
$forest-green: #2abc2a;
$gray: #8c8c8c;
$mercury: #eaeaea;
$mine-shaft: #333;
$red: #f00;
$search-background: rgba(255, 255, 255, 0.2);
$search-bar-icon: rgba(255, 255, 255, 0.7);
$white: #fff;
$wild-sand: #4f4f4f;
