.movie_card_container {
  width: 90vw;
  box-shadow: 5px 2px 25px var(--green-background);
  border-radius: 20px;
  margin: 0;
  display: flex;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}

.movie_card_image_wrapper {
  width: 40%;
  height: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 20px 0 0 20px;
}

.movie_card_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.description {
  margin: 15px;
  width: 50%;
}

.detail_link {
  position: absolute;
  right: 15px;
  bottom: 15px;
}

.detail_link:hover {
  scale: 1;
}

@media (min-width: 700px) {
  .movie_card_container {
    width: calc(45vw - 40px)
  }
}


@media (min-width: 1000px) {
  .movie_card_container {
    width: calc(30vw - 40px)
  }
}

@media (min-width: 1200px) {
  .movie_card_container:hover {
    scale: 1.02;
  }
}
