{
  "presets": [
    ["@babel/preset-typescript"],
    ["@babel/preset-react"],
    ["@babel/preset-env"]
  ],
  "plugins": [
    ["react-html-attrs"],
    ["@babel/plugin-transform-typescript"],
    ["@babel/plugin-transform-react-jsx"]
  ]
}
