!.gitkeep
!.gitignore
!*.dll
[Oo]bj
[Bb]in
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.DS_Store
*.userprefs
*.iml
*.ncrunch*
.*crunch*.local.xml
.idea
[Tt]humbs.db
*.tgz
*.sublime-*

node_modules
bower_components
npm-debug.log
/jobs/Backend/Task/.vs/ExchangeRateUpdater/FileContentIndex/7392ade8-9e27-4842-b4e5-35ead1b43d16.vsidx
/jobs/Backend/Task/.vs/ExchangeRateUpdater/FileContentIndex/077f8eb4-2a99-4855-82e9-c6f3289ea154.vsidx
/jobs/Backend/Task/.vs/ExchangeRateUpdater/FileContentIndex/077f8eb4-2a99-4855-82e9-c6f3289ea154.vsidx
/jobs/Backend/Task/.vs/ExchangeRateUpdater/FileContentIndex/2a1b3fac-804c-4f80-85b4-ca8c95f01280.vsidx
/jobs/Backend/Task/.vs/ExchangeRateUpdater/FileContentIndex/d02fa93d-c5d6-433b-8dc8-8fd3ee7f3b32.vsidx
/jobs/Backend/Task/.vs/ExchangeRateUpdater/FileContentIndex/d10aff2e-7119-46aa-91de-254dc66480be.vsidx
