!.gitkeep
!.gitignore
!*.dll
[Oo]bj
[Bb]in
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.DS_Store
*.userprefs
*.iml
*.ncrunch*
.*crunch*.local.xml
.idea
[Tt]humbs.db
*.tgz
*.sublime-*

# next.js
/.next/
/out/
build

# testing
/coverage

# local env files
.env*.local

node_modules
.env
bower_components
npm-debug.log
