.container {
  display: grid;
  position: relative;
  width: 100%;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "label"
    "input";
  row-gap: 4px;
  justify-items: start;
  background-color: var(--background-terciary);
  border-radius: 6px;
  border: 1px solid var(--border-primary);
  padding: 12px 24px 24px 24px;
}

.label {
  grid-area: label;
  font-size: 14px;
  font-weight: 100;
  padding: 0 8px;
  color: var(--label);
}

.inputWrapper {
  position: relative;
  grid-area: input;
  width: 100%;
}

.input {
  position: relative;
  width: 100%;
  padding: 12px 52px 12px 8px;
  border: 1px solid var(--border-primary);
  border-radius: 4px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 600;
  background-color: var(--background-primary);
  color: var(--text-primary);

  &::placeholder {
    font-style: italic;
    font-weight: 400;
    color: var(--text-secondary);
  }
}

.resetButton {
  display: grid;
  position: absolute;
  align-items: center;
  justify-items: center;
  right: 8px;
  top: 50%;
  padding: 0;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.resetIcon {
  width: 36px;
  height: 36px;

  & path {
    fill: var(--icon-primary);
  }
}

.hiddenSubmitButton {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}
