.movie-list-link {
    text-decoration: none;
  }
  
  .movie-list-box {
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: transform 0.3s ease;
    position: relative;
  }
  
  .movie-list-box:hover {
    transform: scale(1.05);
  }
  
  .movie-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: transform 0.3s ease;
  }
  
  .movie-card:hover {
    transform: scale(1.05);
  }
  
  .movie-poster {
    height: 600px;
  }
  
  .no-image-container {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .no-image-text {
    color: white;
  }
  