@import '../../../styles/variables';

.filter-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: $spacing-10;

  .card {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
      font-size: 25px;
    }

    .card-body {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .filter-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-top: $spacing-5;

        .filter-entry {
          width: 25%;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 2px 5px;
          font-size: $font-size-sm;
          background-color: #3c46fc;
          border: 0;
          border-radius: 3px;
          color: #fff;
          margin-top: 3px;

          &:first-child {
            margin-top: 0;
          }

          span {
            margin-right: 3px;
          }

          i {
            font-size: $font-size;
            color: #fff;
            margin-left: auto;
            transition: color 0.3s ease-in-out;

            &:hover {
              color: #000;
            }
          }
        }
      }
    }
  }
}