/* source: https://css-loaders.com/dots/ */

.loader {
  --g: no-repeat radial-gradient(circle closest-side, #2f0f4b 90%, #0000);

  width: 60px;
  aspect-ratio: 4;
  background:
    var(--g) 0% 50%,
    var(--g) 50% 50%,
    var(--g) 100% 50%;
  background-size: calc(100% / 3) 100%;
  animation: dots 1s infinite linear;
}

@keyframes dots {
  33% {
    background-size:
      calc(100% / 3) 0%,
      calc(100% / 3) 100%,
      calc(100% / 3) 100%;
  }

  50% {
    background-size:
      calc(100% / 3) 100%,
      calc(100% / 3) 0%,
      calc(100% / 3) 100%;
  }

  66% {
    background-size:
      calc(100% / 3) 100%,
      calc(100% / 3) 100%,
      calc(100% / 3) 0%;
  }
}
