.movieSearch {
  background-color: #fe4a49;
  display: flex;
}

.loadingContainer {
  padding-top: 5rem;
  display: flex;
  justify-content: center;
}

// loading spinner courtesy of Thomas Mandelid: https://codepen.io/mandelid/pen/vwKoe
#loading {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(255,255,255,.3);
  border-radius: 50%;
  border-top-color: #fe4a49;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}