@colors: {
  lightblue: #8898AA;
  lightgrey: #F6F6F6;
  lightbluegrey: #F8F9FE;
  white: #FFFFFF;
  green: #4CAF50;
  red: #E10050;
  transparent: rgba(0,0,0,0);
};

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }