:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    color: black;
}

.app {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 24px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    margin-bottom: 48px;
    border-bottom: 1px solid grey;
}

main {
    border: 1px solid red;
    flex: 1;
}

footer {
    margin-top: 48px;
    border-top: 1px solid grey;
}
