.search {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__input,
  &__error {
    width: var(--common-medium-size);
    max-width: 90%;
  }

  &__input {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  &__error {
    color: var(--common-color-error);
    height: 20px;

    &_hidden {
      visibility: hidden;
    }
  }
}