<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApiUrl" value="https://www.cnb.cz/en/financial_markets/foreign_exchange_market/exchange_rate_fixing/daily.txt"/>
    <add key="ApiUrlOtherCurrencies" value="https://www.cnb.cz/en/financial_markets/foreign_exchange_market/other_currencies_fx_rates/fx_rates.txt"/>
    <add key="FormatDataRegex" value="^[a-zA-Z]+\|[a-zA-Z]+\|\d+\|\w{3}\|\d*\.?\d*$"/>
  </appSettings>
</configuration>