<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
       <add key="APIUrl" value="https://www.cnb.cz/en/financial_markets/foreign_exchange_market/exchange_rate_fixing/daily.txt" />
        <add key="APIFormat" value="Country|Currency|Amount|Code|Rate"/>
   </appSettings>
</configuration>