<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <section name="ExchangeRateProviderConfiguration" type="ExchangeRateUpdater.ExchangeRateProviderConfiguration, ExchangeRateUpdater" />
    </configSections>
    
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

    <ExchangeRateProviderConfiguration configSource="ExchangeRateProvider.config"/>
</configuration>