<?xml version="1.0" encoding="utf-8"?>
<ExchangeRateProviderConfiguration>
    <PrimaryDailyExchangeRateSource url="https://www.cnb.cz/cs/financni-trhy/devizovy-trh/kurzy-devizoveho-trhu/kurzy-devizoveho-trhu/denni_kurz.txt" />
    <SecondaryMonthlyExchangeRateSource url="https://www.cnb.cz/cs/financni-trhy/devizovy-trh/kurzy-ostatnich-men/kurzy-ostatnich-men/kurzy.txt" />
</ExchangeRateProviderConfiguration>