<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
    <threshold value="All" />
    <file value="ExchangeRateUpdater.log" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <maxSizeRollBackups value="1000" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="false" />
    <countDirection value="1" />
    <datePattern value=".yyyyMMdd" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%utcdate{yyyy-MM-dd HH:mm:ss.fff}|[%thread]|%level|%logger|%message%|%exception%newline" />
    </layout>
  </appender>  
  <root>
    <level value="ALL" />
    <appender-ref ref="RollingFile" />    
  </root>
</log4net>