@import "tailwindcss";
@import "tw-animate-css";

:root {
  --radius: 0.625rem;
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.985 0.003 247.858);
  --foreground-secondary: oklch(0.985 0.003 247.858 / 80%);
  --primary: oklch(86.9% 0.053 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --accent: oklch(0.29 0.061 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 20%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --ring-muted: oklch(0.551 0.027 264.364 / 60%);
  --sidebar: oklch(0.208 0.042 265.755);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-foreground-secondary: var(--foreground-secondary);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-ring-muted: var(--ring-muted);
  --color-sidebar: var(--sidebar);
}

@layer base {
  html {
    scrollbar-width: thin;
    scrollbar-color: var(--color-border) var(--color-sidebar);
  }
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply text-2xl font-bold;
  }
  h3 {
    @apply font-medium;
  }
}
