[Bb]in/
[Oo]bj/
[Ll]ogs/
[Tt]est[Rr]esults/
*.user
*.suo
*.userosscache
.idea/
[Dd]ebug/
[Rr]elease/
packages/
.vs/
*.pdb
*.cache
*.log
[Tt]est[Rr]esult*/
project.lock.json
artifacts/
Thumbs.db
Desktop.ini
.DS_Store
