<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CnbExchangeRateDataUrl" value="https://www.cnb.cz/en/financial-markets/foreign-exchange-market/central-bank-exchange-rate-fixing/central-bank-exchange-rate-fixing/daily.txt"/>
    <add key="LogFolderPath" value="Log"/>
    <add key="LogFileName" value="ExchangeRatesLog"/>
    <add key="ResultFileName" value="ExchangeRatesResults"/>
    <add key="ResultFolderPath" value="Results"/>
  </appSettings>
</configuration>
