<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="CnbRatesXMlUrl" value="https://www.cnb.cz/cs/financni_trhy/devizovy_trh/kurzy_devizoveho_trhu/denni_kurz.xml"/>
		<add key="CnbExoticRatesXMlUrl" value="https://www.cnb.cz/cs/financni-trhy/devizovy-trh/kurzy-ostatnich-men/kurzy-ostatnich-men/kurzy.xml"/>
	</appSettings>
</configuration>