version: '3.9'

services:
  api:
    container_name: exchange-rate-updater-api
    build:
      context: .
      dockerfile: Mews.ExchangeRateUpdater.API/Dockerfile
    ports:
      - "${API_PORT}:8080"
    volumes:
      - db-data:/app/data
      - logs:/app/logs
    depends_on:
      - fetcher

  fetcher:
    container_name: exchange-rate-updater-fetcher
    build:
      context: .
      dockerfile: Mews.ExchangeRateUpdater.Fetcher/Dockerfile
    volumes:
      - db-data:/app/data
    restart: "no"

volumes:
  db-data:
  logs:
