services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    image: exchange-api
    container_name: exchange-api
    ports:
      - "8080:8080"
    command: [ "dotnet", "Exchange.Api.dll" ]