<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      autoReload="true"
      throwExceptions="false">

	<variable name="appName" value="Mews.AnomalyDetector"/>

	<extensions>

		<!-- Remember to install these if you want to output to your graylog instance-->
		<!-- I'm not adding these so they don't pollute the project right now. -->
		<!--		
		<add assembly="NLog.Gelf"/>
        <add assembly="NLog.Targets.GraylogHttp"/>
		-->
	</extensions>

	<targets>
		<target name="coloredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
		        layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${message}" >
			<highlight-row condition="level == LogLevel.Trace" foregroundColor="Green" />
			<highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
			<highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
			<highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
			<highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
		</target>


		<!--Change to your own graylog instance-->
		<!--<target name="Gelf" type="GelfHttp" 
                serverUrl="http://127.0.0.1:12201/gelf" 
                layout="${date:format=dd/MM/yyyy HH\:mm\:ss.fff} | ${level:uppercase=true} | ${message}${exception:format=ToString}" 
                facility="MEWS"/>-->


	</targets>

	<rules>
		<!--<logger name="*" minLevel="Trace" appendTo="Gelf"/>-->
		<logger name="*" minlevel="Trace" writeTo="coloredConsole" />

	</rules>
</nlog>