@import './partials/variables.less';
@import './partials/globals.less';
@import './partials/tables.less';
@import './partials/buttons.less';

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: @colors[lightbluegrey];
  margin-top: 100px;

  .content {
    width: 1200px;
    max-width: 94%;
    margin: auto;
  }
}