body {
  background-color: #141414;
  color: white;
  font-family: 'Arial', sans-serif;
  margin: 0px;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.search-input {
  padding: 10px;
  margin-bottom: 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.movie-item {
  text-align: center;
  cursor: pointer;
}

.movie-item img {
  width: 100%;
  border-radius: 10px;
}

.movie-details img {
  width: 300px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.movie-details {
  display: flex;
  gap: 40px;
  padding: 40px;
}

a {
  color: inherit;
  text-decoration: none;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px;
}

.pagination button {
  width: 50px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #e50914;
  color: white;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #444;
  cursor: not-allowed;
}

.pagination span {
  font-size: 18px;
  color: white;
}

#mewslifx-logo {
  padding: 40px;
}
