.movie-detail {
    margin: 0 auto;
    font-family: Roboto, sans-serif;
}
  
.movie-title {
    font-size: 30px;
    margin: 0 0 10px 0;
    text-align: left;
}

@media screen and (min-width: 600px) {
    .movie-title {
        text-align: center;
        font-size: 40px
    }
}

.movie-tagline {
    font-size: 19px;
    color: #bcb8b8;
    margin: 0 0 25px 0;
    text-align: left;
}

@media screen and (min-width: 600px) {
    .movie-tagline {
        text-align: center;
    }
}

.movie-content {
    display: block;
    gap: 20px;
    margin-bottom: 30px;
    justify-content: center;
}

@media screen and (min-width: 600px) {
    .movie-content {
        display: flex;
        gap: 20px;
        margin-bottom: 30px;
        justify-content: center;
    }
}

.movie-poster img {
    width: 100%;
    object-fit: cover;
}

strong {
    font-weight: 400;
}

.movie-info {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    gap: 10px;
    margin: 20px 0;
}

@media screen and (min-width: 600px) {
    .movie-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 1.5;
        gap: 10px;
    }
}

.movie-info p {
    padding: 0;
    margin: 0;
    white-space: nowrap;
}

.movie-info a {
    color: #e50914;
    text-decoration: none;
    font-weight: bold;
}

.movie-info a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.movie-overview h2 {
    font-size: 25px;
    margin-bottom: 20px;
    text-align: left;
}

@media screen and (min-width: 600px) {
    .movie-overview h2 {
        font-size: 30px;
        margin-bottom: 20px;
        text-align: center;

    }
}

.movie-overview p {
    line-height: 1.6;
    text-align: left;
    margin-bottom: 30px
}

@media screen and (min-width: 600px) {
    .movie-overview p {
        line-height: 1.6;
        text-align: center;
        width: 500px;
        margin: 0 auto 30px auto;
    }
}

.movie-detail button {
    margin-left: 0;

}

@media screen and (min-width: 600px) {
    .movie-detail button {
        margin: 0 auto;
    }
}

a {
    text-decoration: none;
}