.load-more {
  display: flex;
  justify-content: center;

  &__button {
    width: 90%;
    height: 40px;
    border: 1px solid var(--common-color-blue-1);
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;

    &:hover {
      background-color: var(--common-color-blue-1);
    }
  }
}