.button {
  display: inline-block;
  vertical-align: middle;
  margin: 0 .4em;
  padding: 0 8px;
  height: 20px;
  line-height: 20px;
  border: 1px solid #777;
  border-radius: 3px;
  background-color: transparent;
  color: #777;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}
