@import '~bootstrap/dist/css/bootstrap.min.css';

/*Movie card*/
.movie-card {
    border: 1px solid #ffffff;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    width: 100%;
    border-radius:2rem;
  }
  
  .movie-card:hover {
    transform: scale(1.05);
    background: rgba(180, 180, 180, 0.3);
  }
  
  .movie-poster {
    width: 90%;
    height: auto;
    border-radius:2rem;

  } 
  .movie-title {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
  }
  .movie-section {
    margin: 0% 8% 2% 8%;
  }

  /*Search input*/

  input {
    border: 2px solid #555; 
    border-radius: 10px; 
    padding: 8px; 
    font-size: 16px; 
    color: #555; 
    margin: 40px;
  }

  input:hover {
    border-color: #333; 
  }
  
  input:focus {
    outline: none; 
    border-color: #000; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
  }
  
  .search-input{
    display: flex;
    justify-content: center;
  }
 

/*media*/
  @media (max-width: 576px) {
    .movie-card {
        width: 0%; 
    }
  }