# VS files
.vs
#Rider files
.idea

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.DotSettings

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
.sonarlint/
.sonarqube/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Pp]ackages/
[Pp]ublishProfiles/


# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Benchmark Results
BenchmarkDotNet.Artifacts/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# StyleCop
StyleCopReport.xml