@font-face {
  font-family: 'Open Sans';
  src: url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
}

html,
body {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
  background-color: #00090cff;
}

body *,
body *::before,
body *::after {
  box-sizing: border-box;
}
