.header {
  padding: 0 20px;
  display: flex;
  align-items: center;
  height: 75px;
  width: 100%;
  background-color: #262626;

  h1 {
    margin: 0;
    padding: 0;
    color: white;
  }
}

.content {
  padding: 50px 100px;
}