.wrap {
  margin: 100px 200px;
  width: 400px;
}

.control {
  width: 100% !important;
  border: 1px solid #858a8f !important;
  background: white;
  border-radius: 5px;
  padding: 12px !important;
}

.label {
  padding-left: 18px !important;
  color: darkgrey !important;
}

.select-root {
}