{
  "plugins": ["jasmine"],
  "extends": ["airbnb", "plugin:jasmine/recommended"],
  "env": {
    "jasmine": true,
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "react/require-default-props": [false]
  }
}
