{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "rules": {
    "arrow-parens": ["off", { "requireForBlockBody": true }],
    "react/forbid-prop-types": ["off"],
    "import/extensions": ["off"],
    "jsx-quotes": ["off"],
    "react/jsx-filename-extension": ["off"]
  }
}