@import "../common";

.pair {
  margin-bottom: 5px;
}

.code {
  margin: 0 5px;
  font-weight: bold;
  color: $checked;
}

.check-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.check-mark {
  width: 1rem;
  height: 1rem;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  border: 2px solid $check-border;
  cursor: pointer;
}

.check-hidden:hover ~ .check-mark:hover {
  border-color: $hover-border;
}

input[type='checkbox'].check-hidden:focus ~ .check-mark {
  border-color: $focus-color;
  box-shadow: 0 0 0 2px rgba(237, 199, 183, 0.25);
}

input[type='checkbox'].check-hidden:checked ~ .check-mark {
  border-color: $checked;
  background: $checked url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj48cG9seWxpbmUgcG9pbnRzPSIyMCA2IDkgMTcgNCAxMiI+PC9wb2x5bGluZT48L3N2Zz4=) center no-repeat;
  background-size: 75%;
}
