html {
  box-sizing: border-box;
}
  
*, :after, :before {
  box-sizing: inherit;
}

/* body */

body {
  background-color: #000;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

/* main */

main {
  min-height: calc(100vh - (79.45px + 58.5px));
  /* min-heigt: calc(100vh - (header + footer)) */
  padding: 40px 30px 60px 30px;
}

@media screen and (min-width: 600px) {
  main {
      padding: 40px 80px 60px 80px;
  }
}

@media screen and (min-width: 1100px) {
  main {
      padding: 40px 90px 60px 90px;
  }
}

/* h2 */

h2 {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin: 0;
}