body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  width: 50%;
}

a,
u {
  text-decoration: none;
}
