* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.react-root {
  width: 100%;
  height : 100vh;
  padding: 0;
  display: flex;
}

.rates {
  flex: 0 1 60%;
  padding: 0 1rem;
  &--list {
    padding: 0;
    &--item {
      display: flex;
      align-items: center;
      & > * {
        padding : .25rem;
      }
    }
  }
}

.rate {
  &-label {
    width: 100px;
  }
  &-rate {
    width: 60px;
  }
  &-dynamic {
    border-radius : .2rem;
    &__growing { background-color : limegreen}
    &__stagnating { background-color : darkgray}
    &__declining { background-color : tomato}
  }
}

.select {
  &--container {
    flex: 0 1 40%;
    padding : 0 1rem;
  }
}

.message {
  &__error {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    width: 30%;
    padding: .5rem 1rem;
    background-color: sandybrown;
    border-radius: 3px;
  }
}



.spinner,
.spinner:after {
  position: relative;
  box-sizing: border-box;
}

.spinner {
  width: 5vh;
  height: 5vh;
  display: block;
  color: #000000;

  &:after {
    content: "";
    width: 100%;
    height: 100%;
    display: inline-block;
    border: .25vh solid currentColor;
    border-bottom-color: transparent;
    border-radius: 100%;
    background: transparent;

    animation: ball-clip-rotate .75s linear infinite;
  }
  &--container {
    width : 100%;
    height : 100%;
    display : flex;
    justify-content : center;
    align-items : center;
  }
}

@keyframes ball-clip-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
