@mixin flexbox($align: flex-start, $justify: flex-start) {
  display: flex;
  flex-wrap: wrap;
  align-items: $align;
  justify-content: $justify
}

// Colors
$white: rgb(239, 232, 232);
$main-color: #00675b;
// Font Size
$font-size-xxl: 7.0rem;
$font-size-xl: 3.0rem;
$font-size-l: 2.4rem;
$font-size-m: 1.8rem;
$font-size-s: 1.5rem;
// Spacing
$xl-size: 20.0rem;
$l-size: 3.2rem;
$m-size: 1.8rem;
$s-size: 1.2rem;
$xs-size: .9rem;

$tablet-breakpoint: 650px;
$desktop-breakpoint: 1000px;