// Colors
$transparent-black: rgba(20, 20, 20, .95);
$white: rgb(239, 232, 232);
// Font Size
$font-size-xxl: 7.0rem;
$font-size-xl: 3.0rem;
$font-size-l: 2.4rem;
$font-size-m: 1.8rem;
$font-size-s: 1.5rem;
// Spacing
$xl-size: 20.0rem;
$l-size: 3.2rem;
$m-size: 1.8rem;
$s-size: 1.2rem;
$xs-size: .9rem;

$tablet-breakpoint: 650px;
$desktop-breakpoint: 1000px;