@import '../../assets/styles/mixins';
@import '../../assets/styles/colors';

.currencySelectorWrapper {
  height: 300px;
  background: url('../../assets/images/cash.jpg') no-repeat center center fixed;
  background-size: cover;

  @include centralize;
}

.ratesListWrapper {
  @include centralize;
  flex-direction: column;

  width: 400px;
  margin: 0 auto;

  color: $dark-grey;
}