.movieItem {
  position: fixed;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.438);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  cursor: auto;
  overflow-y: hidden;
  z-index: 3;
}

.movieItem > div {
  position: absolute;
  width: 90vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
  padding: 40px;
  z-index: 4;
}

#closeButton {
  width: 30px;
  cursor: pointer !important;
}

#movieItemImage {
  width: 300px;
}

@media (max-width: 800px) {
  #movieItemContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .movieItem > div {
    height: 90vh;
    overflow: scroll;
  }

  #movieItemImage {
    width: 200px;
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) {
  #movieItemImage {
    width: 150px;
  }
}
