#------------------------------------------------------------------------------
# .gitignore
# v1.0.0
#------------------------------------------------------------------------------
#
# See https://help.github.com/articles/ignoring-files/ for more about ignoring
# files.

#------------------------------------------------------------------------------
# Dependencies
#------------------------------------------------------------------------------
#
/node_modules/

#------------------------------------------------------------------------------
# ENV files
#------------------------------------------------------------------------------
#
.env.local
.env.development.local
.env.test.local
.env.production.local

#------------------------------------------------------------------------------
# Output
#------------------------------------------------------------------------------
#
/dist/

# Next.js
/.next/
/.swc/
/build/
/out/

#------------------------------------------------------------------------------
# Storybook
#------------------------------------------------------------------------------
#
/storybook-static/

#------------------------------------------------------------------------------
# System files
#------------------------------------------------------------------------------
#
.DS_Store

#------------------------------------------------------------------------------
# Turbo
#------------------------------------------------------------------------------
#
.turbo
