.input-search {
  width: 200px;
  height: 40px;
  outline: none;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid rgb(2, 4, 80);
  margin: 30px 30px;
}

.input-search::placeholder {
  padding: 10px;
  font-size: 16px;
}