@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

$color1: #eee2dc;
$color2: #123269;
$color3: #AC3b61;
$color4: #edc7b7;
$color5: #bab2b5;

// app
$main-bg: $color1;
$main-color: $color2;
$header-color: $color3;
$font: 'Roboto Condensed', sans-serif;

//pairs selector
$check-border: $color5;
$hover-border: $color3;
$focus-color: $color4;
$checked: $color3;

//currency pairs list
