table {
	width: 100%;
	border-collapse: collapse;
}

th {
  font-size: 18px;
  color: #fff;
  line-height: 1.4;
  background-color: #6c7ae0;
	padding-top: 18px;
	padding-bottom: 18px;
}

td {
    font-size: 15px;
    color: gray;
    line-height: 1.4;
		padding-top: 16px;
		padding-bottom: 16px;
		text-align: center;
}
tr:nth-child(even) {
    background-color: #f8f6ff;
}

.loading {
	position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2{
	position: relative;
	padding: .75rem 1.25rem;
	margin-bottom: 1rem;
	border: 1px solid transparent;
	border-radius: .25rem;
	color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
	display: block;
}

h3{
	margin-left: 15px;
	font-size: 15px;
	color: gray;
	line-height: 1.4;
}
