.page-nav-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem 0;
  position: static;
  justify-self: center;
}

button {
  background: none;
  border: 1px solid transparent;
  padding: 0.75rem;
  margin: 0 1rem;
  height: 3rem;

  font-family: Roboto, Regular;
  font-weight: 400;

  transition: background 0.2s ease-in-out;
}

.active-page {
  border: 1px solid var(--off-white);
  background: none;
  padding: 0.75rem;
  margin: 0 1rem;
}

button:hover:not(:disabled) {
  background-color: rgba(255, 255, 255, 0.438);
  cursor: pointer;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  button {
    margin: 0;
  }
}
