.skeleton-tile {
  background-color: var(--img-placeholder-color);
  width: var(--img-thumbnail-width);
  height: var(--img-thumbnail-height);
  position: relative;
  margin: 1rem;
  min-width: 180px;
  transform: translateZ(0);

  /* Shimmer, courtesy of Aimee on CodePen */
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmer;
  animation-timing-function: ease-in;
  background: #50535a;
  background-image: linear-gradient(
    to right,
    #50535a 0%,
    #656871 20%,
    #50535a 40%,
    #50535a 100%
  );
  background-repeat: no-repeat;
  background-size: 800px var(--img-thumbnail-height);
  position: relative;
}

.skeleton-container {
  position: absolute;
  min-width: 100%;
  max-width: 100vw;

  margin-top: var(--search-container-bar-height);
  pointer-events: none;
}

.skeleton-fade {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 20rem);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

@keyframes shimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
