.tile-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  width: fit-content;
  min-width: 180px;
  overflow: hidden;

  -webkit-box-shadow: 0px 0rem 20px 0px rgb(16 16 16 / 75%);
  -moz-box-shadow: 0px 0rem 20px 0px rgb(16 16 16 / 75%);
  box-shadow: 0px 0rem 20px 0px rgb(16 16 16 / 75%);
}

.img-placeholder {
  background-color: var(--img-placeholder-color);
  width: var(--img-thumbnail-width);
  height: var(--img-thumbnail-height);
  position: relative;
  z-index: var(--z-placeholder);
}

.img-shadow {
  -webkit-box-shadow: inset 0px -3rem 20px -10px rgb(18 18 18 / 75%);
  -moz-box-shadow: inset 0px -3rem 20px -10px rgb(18 18 18 / 75%);
  box-shadow: inset 0px -3rem 20px -10px rgb(18 18 18 / 75%);

  line-height: 0;
  display: inline-block;

  transition: box-shadow 0.2s ease-in-out;
}

.img-shadow:hover {
  -webkit-box-shadow: inset 0px -20rem 20px -10px rgb(18 18 18 / 75%);
  -moz-box-shadow: inset 0px -20rem 20px -10px rgb(18 18 18 / 75%);
  box-shadow: inset 0px -20rem 20px -10px rgb(18 18 18 / 75%);
}

.img-shadow img {
  width: var(--img-thumbnail-width);
  position: relative;
  z-index: calc(var(--z-placeholder) - 1);
  object-fit: cover;
  aspect-ratio: 16/9;
}

.description-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  height: 12rem;
  margin-left: 0.5rem;

  overflow: hidden;
  position: absolute;
  top: 77%;

  pointer-events: none;

  transition: top 0.2s ease-in-out;
}

.description-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 0.5rem;
}

.description-release {
  display: flex;
  flex-direction: row;
}

.img-shadow:hover ~ .description-container {
  top: 0;
}

.img-shadow:hover + .description-container h2 {
  white-space: break-spaces;
  text-align: start;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

h2 {
  margin: 0;
  text-align: start;
  color: var(--off-white);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(var(--img-thumbnail-width) - 2rem);

  pointer-events: none;
}

.release {
  overflow: hidden;
  pointer-events: none;
  margin: 0 0.5rem;
}

.vote-avg {
  overflow: hidden;
  pointer-events: none;
  margin: 0 0.5rem;
  position: absolute;
  bottom: 2.25rem;
}
