<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Machine.Specifications" version="1.0.0" targetFramework="net472" />
  <package id="Machine.Specifications.Runner.VisualStudio" version="2.10.2" targetFramework="net472" />
  <package id="Machine.Specifications.Should" version="1.0.0" targetFramework="net472" />
  <package id="Microsoft.CodeCoverage" version="16.11.0" targetFramework="net472" />
  <package id="Microsoft.NET.Test.Sdk" version="16.11.0" targetFramework="net472" />
  <package id="Mono.Cecil" version="0.10.0" targetFramework="net472" />
  <package id="MSTest.TestAdapter" version="2.1.2" targetFramework="net472" />
  <package id="MSTest.TestFramework" version="2.1.2" targetFramework="net472" />
</packages>