#root {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  font-size: calc(1vw + 1vh + 0.5vmin);
}

body {
  background-color: black;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.app__container {
  margin: 0;
  padding: 0;
  display: grid;
  grid-auto-flow: row;
  place-items: center;
  justify-content: space-around;
  align-content: start;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: darkgrey;
}
