@import 'Style/colors';

.loadingPage {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .loaderWrapper {
    height: 200px;

    // https://projects.lukehaas.me/css-loaders/

    .loader,
    .loader::before,
    .loader::after {
      animation: load1 1s infinite ease-in-out;
      background: $boston-blue;
      height: 4em;
      width: 1em;
    }

    .loader {
      animation-delay: -0.16s;
      color: $boston-blue;
      font-size: 11px;
      margin: 88px auto;
      position: relative;
      text-indent: -9999em;
      transform: translateZ(0);
    }

    .loader::before,
    .loader::after {
      content: '';
      position: absolute;
      top: 0;
    }

    .loader::before {
      animation-delay: -0.32s;
      left: -1.5em;
    }

    .loader::after {
      left: 1.5em;
    }

    @keyframes load1 {
      0%,
      80%,
      100% {
        box-shadow: 0 0;
        height: 4em;
      }

      40% {
        box-shadow: 0 -2em;
        height: 5em;
      }
    }
  }

  .loadingMessage {
    color: $mine-shaft;
    font-size: 3em;
  }
}
