* {
  font-family: Poppins, sans-serif !important;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700 !important;
}

.disable-scroll {
  /* overflow: hidden !important; */
}
.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden;
}
