:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

#root {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  padding: 5rem;
  text-align: start;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.flex {
  display: flex;
}
.align-center {
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.mr-6 {
  margin-right: 6px;
}

.w-100 {
  width: 100%;
}

.gap-15 {
  gap: 15px;
}
