<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="api" value="https://demo.mews.li/api/connector/v1" />
    <add key="proxy" value="" />
    <add key="username" value="" />
    <add key="password" value="" />
    <add key="config" value="/configuration/get" />
    <add key="exchange" value="/exchangeRates/getAll" />
  </appSettings>
</configuration>