@import "common/styles/reset.css";

.app {
  --common-color-light: #F8F6E3;
  --common-color-blue-1: #97E7E1;
  --common-color-blue-2: #6AD4DD;
  --common-color-blue-3: #7AA2E3;
  --common-color-blue-4: #558AE0;
  --common-color-error: #FFAF45;
  --common-medium-size: 400px;

  width: 1000px;
  max-width: 100%;
  min-height: 100vh;
  background-color: var(--common-color-light);
  margin: 0 auto;

  * {
    box-sizing: border-box;
  }
}