.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: var(--common-color-blue-3);
  cursor: pointer;

  &__logo {
    width: 60px;
    height: 60px;
  }
}